---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import TeamMasthead from '../components/TeamMasthead.astro';
import GameResult from '../components/GameResult.astro'
import slugify from 'slugify';

export const prerender = true

export async function getStaticPaths() {
  const teams = await getCollection('teams');

  return teams
      .map(team => {
          return {
              params: { slug: slugify(team.data.school, {lower: true}) },
              props: team
          }
      });
};

const team = Astro.props;

const bowlseasons = (await getCollection('bowlseasons'))
  .sort((a, b) => parseInt(b.id) - parseInt(a.id));

var bowls = [];
var bowlWins = 0;
var bowlLosses = 0;
var bowlTies = 0;

bowlseasons.map(season => (
  season.data.map(game => {
    if (game.homeId == parseInt(team.id)) {
      bowls.push(game);
      if (game.homePoints > game.awayPoints) {
        bowlWins++;
      }
      else if (game.homePoints < game.awayPoints) {
        bowlLosses++;
      }
      else if (game.homePoints == game.awayPoints) {
        bowlTies++;
      }
    }
    else if (game.awayId == parseInt(team.id)) {
      bowls.push(game);
      if (game.homePoints > game.awayPoints) {
        bowlLosses++;
      }
      else if (game.homePoints < game.awayPoints) {
        bowlWins++;
      }
      else if (game.homePoints == game.awayPoints) {
        bowlTies++;
      }
    }
  }
)))

bowls.sort((a, b) => b.startDate - a.startDate);

---

<BaseLayout pageTitle={`${team.data.school} |`}>

  <TeamMasthead id={team.data.id}/>

  <div class="page-content">
    <h2>Bowl Record</h2>
    <h3>{bowlWins} - {bowlLosses} - {bowlTies}</h3>
    <div class="bowl-results">
      {bowls.map(game => (
        <GameResult game={game} />
      ))}
    </div>
  </div>
</BaseLayout>

<style>
  .bowl-results {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .game {
      margin-bottom: 40px;
    }
  }
</style>