---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import TeamMasthead from '../components/TeamMasthead.astro';
import GameResult from '../components/GameResult.astro'
import slugify from 'slugify';

export const prerender = true

export async function getStaticPaths() {
  const teams = await getCollection('teams');

  return teams
      .map(team => {
          return {
              params: { slug: slugify(team.data.school, {lower: true}) },
              props: team
          }
      });
};

const team = Astro.props;

const bowlseasons = (await getCollection('bowlseasons'))
  .sort((a, b) => parseInt(b.id) - parseInt(a.id));

var bowls = [];
var bowlWins = 0;
var bowlLosses = 0;
var bowlTies = 0;

bowlseasons.map(season => (
  season.data.map(game => {
    if (game.home_id == parseInt(team.id)) {
      bowls.push(game);
      if (game.home_points > game.away_points) {
        bowlWins++;
      }
      else if (game.home_points < game.away_points) {
        bowlLosses++;
      }
      else if (game.home_points == game.away_points) {
        bowlTies++;
      }
    }
    else if (game.away_id == parseInt(team.id)) {
      bowls.push(game);
      if (game.home_points > game.away_points) {
        bowlLosses++;
      }
      else if (game.home_points < game.away_points) {
        bowlWins++;
      }
      else if (game.home_points == game.away_points) {
        bowlTies++;
      }
    }
  }
)))

---

<BaseLayout pageTitle={`${team.data.school} |`}>

  <TeamMasthead id={team.data.id}/>

  <div class="bowlresults">
    <h2>Bowl Record</h2>
    <h3>{bowlWins} - {bowlLosses} - {bowlTies}</h3>

    {bowls.map(game => (
      <GameResult game={game} />
    ))}
  </div>



</BaseLayout>



