---
import SimpleTeamCard from '../components/SimpleTeamCard.astro';

const { game } = Astro.props;
---

<div class="game">
  <div class="score">
    <SimpleTeamCard id={game.homeId} />
    <div class={game.homePoints > game.awayPoints ? 'winner score' : 'score'}>{game.homePoints}</div>
  </div>
  <div class="score">
    <SimpleTeamCard id={game.awayId} />
    <div class={game.awayPoints > game.homePoints ? 'winner score' : 'score'}>{game.awayPoints}</div>
  </div>
  <p>{game.notes}</p>
  <p>{game.attendance}</p>
  <p>{game.startDate.toLocaleString('en-US')}</p>
</div>

<style>
  .game {
      width: 600px;
      max-width: 100%;
      .score {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        font-family: 'Radio Canada Big';
        .score {
          font-size: 1.4rem;
        }
        .winner {
          font-weight: 600;
        }
      }
    };
</style>