---
// @ts-nocheck
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import SimpleTeamCard from '../../components/SimpleTeamCard.astro';

const seasons = (await getCollection('bowlseasons'))
  .sort((a, b) => parseInt(b.id) - parseInt(a.id));

var bowlTeams = {};

seasons.map(season => (
  season.data.map(game => {
    if(bowlTeams[game.homeId]) {
      bowlTeams[game.homeId]++;
    }
    else {
      bowlTeams[game.homeId] = 1;
    }
    if(bowlTeams[game.awayId]) {
      bowlTeams[game.awayId]++;
    }
    else {
      bowlTeams[game.awayId] = 1;
    }
  })
));

---

<BaseLayout pageTitle="Bowl Seasons | ">
  <div class="page-content">
    <h1>Bowl Report</h1>
    <div class="columns">
      
      <div>
        <h2>Seasons</h2>
        <ul class="seasons">
          {seasons.map(season => (
            <li><span><a href={`/bowls/${season.id}`}>{season.id}</a></span> {season.data.length} games</li>
          ))}
        </ul>
      </div>
      <div>
        <h2>Teams</h2>
        
        {
        // @ts-ignore
        Object.entries(bowlTeams).sort((a, b) => b[1] - a[1]).map(element => (
          <div class="bowl-team">
            <SimpleTeamCard id={parseInt(element[0])} showLogo={false} linkedName={true}/>
            <div>{element[1]} games</div>
          </div>
        ))}
      </div>
    </div>
  </div>

</BaseLayout>

<style>
  .columns {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .bowl-team {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
    align-items: baseline;
    padding: 5px;
  }

  .seasons {
    padding: 0;
    list-style-type: none;
    li {
      display: grid;
    grid-template-columns: 100px 1fr;
    gap: 20px;
    align-items: baseline;
      padding: 5px;
      span {
        font-size: 1.4rem;
      }
    }
  }
</style>